cartopy
earthengine-api
esda
geemap
geopandas
joblib
jupyter
libpysal
matplotlib
mgwr
networkx
numpy
pandas
plotly
pygam
pykrige
rasterio
rasterstats
scikit-learn
scipy
shap
shapely
skyborn
tqdm
xgboost
